@model IEnumerable<DreamTimeS224.Models.Book>

@{
    ViewData["Title"] = "Manage books";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">+ Add book</a>
</p>

<table class="table manage-books-table">
    <caption>List of books to manage</caption>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageFilename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePublished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Copies)
            </th>
            <th aria-label="Actions: edit, details, delete"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @* @Html.DisplayFor(modelItem => item.ImageFilename) *@
                @* Load the book image thumbnail or default image if unavailable *@
                <partial name="_BookImagePartial" model="item" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePublished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Copies)
            </td>
            <td>
                <a asp-action="Create" asp-route-id="@item.ISBN" class="btn btn-sm btn-secondary" title="Duplicate">
                    <i class="bi bi-copy" aria-label="Duplicate"></i>
                </a>
                <a asp-action="Edit" asp-route-id="@item.ISBN" class="btn btn-sm btn-secondary" title="Edit">
                    <i class="bi bi-pencil-fill" aria-label="Edit"></i>
                </a>
                <a asp-action="Details" asp-route-id="@item.ISBN" class="btn btn-sm btn-primary" title="Details">
                    <i class="bi bi-book-half" aria-label="Details"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@item.ISBN" class="btn btn-sm btn-danger" title="Delete">
                    <i class="bi bi-trash-fill" aria-label="Delete"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
