@model IEnumerable<DreamTimeS224.Models.Genre>

@{
    ViewData["Title"] = "Manage genres";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">+ Add genre</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">
                    <i class="bi bi-pencil-fill"></i>
                    Edit
                </a>
                @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@

                @* Condition delete button - only allow if genre has no books *@
                @if (item.Books.Any())
                {
                    <a title="Cannot delete genre if it has books" class="btn btn-sm btn-secondary">
                        <i class="bi bi-trash-fill"></i>
                        Delete
                    </a>
                }
                else
                {
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                        <i class="bi bi-trash-fill"></i>
                        Delete
                    </a>
                }
                
            </td>
        </tr>
}
    </tbody>
</table>
