@model IEnumerable<DreamTimeS224.Models.RoomType>

@{
    ViewData["Title"] = "Manage room types";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">+ Add room type</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @String.Join(", ", item.Rooms?.Select(r => r.Code) ?? [])
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">
                    <i class="bi bi-pencil-fill"></i>
                    Edit
                </a>
                @if (item.Rooms?.Any() ?? false)
                {
                    <a title="Cannot delete room type if it has rooms" class="btn btn-sm btn-secondary">
                        <i class="bi bi-trash-fill"></i>
                        Delete
                    </a>
                }
                else
                {
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                        <i class="bi bi-trash-fill"></i>
                        Delete
                    </a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
