@model IEnumerable<DreamTimeS224.Models.Session>

@{
    ViewData["Title"] = "Manage sessions";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">+ Add session</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Weekday
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SessionType)
            </th>
            <th>
                Session Time
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Date.DayOfWeek
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTimeId) - @Html.DisplayFor(modelItem => item.EndTime.Time)
            </td>
            <td class="status-@item.Status.ToString().ToLower()">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-sessionTypeId="@item.SessionTypeId" asp-route-dateString="@item.Date.ToString("yyyy-MM-dd")"
                    class="btn btn-sm btn-secondary" title="Edit">
                    <i class="bi bi-pencil-fill" aria-label="Edit"></i>
                </a>
                <a asp-action="Details" asp-route-sessionTypeId="@item.SessionTypeId" asp-route-dateString="@item.Date.ToString("yyyy-MM-dd")"
                    class="btn btn-sm btn-primary" title="Details">
                    <i class="bi bi-book-half" aria-label="Details"></i>
                </a>
                <a asp-action="Delete" asp-route-sessionTypeId="@item.SessionTypeId" asp-route-dateString="@item.Date.ToString("yyyy-MM-dd")"
                    class="btn btn-sm btn-danger" title="Delete">
                    <i class="bi bi-trash-fill" aria-label="Delete"></i>
                </a>
                @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
            </td>
        </tr>
}
    </tbody>
</table>
